<div style="text-align: center;">
    <IgbCombo>
        @* 別の文字列に置き換える場合 *@
        <div slot="empty">（選択肢はありません）</div>

        @* 非表示にする場合 *@
        @* <div slot="empty"></div> *@
    </IgbCombo>
</div>

@code {

}